.gradle
**/build/
!**/src/**/build/
/home/ethan-reidel/Coding/PomonaWork/Jautograd/lib/src/main/java/data/Demo.java

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Avoid ignore Gradle wrappper properties
!gradle-wrapper.properties

# Cache of project
.gradletasknamecache
